BasedOnStyle: Chromium
Standard: Cpp11
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: true
NamespaceIndentation: Inner
BreakBeforeBraces: Mozilla
Cpp11BracedListStyle: true
ColumnLimit: 210
#AlignConsecutiveAssignments: true
