./vscode
/build

/demo/webassembly/*
!/demo/webassembly/*.html
!/demo/webassembly/*.css

*.bak
*.d
*.o
*.orig
*.pdb
*.rej
*.sav
*.swp
*.tmp
*~
.DS_Store
.ccmalloc
.svn
cscope.files
cscope.out
tags
.yardoc
